*{
    margin: 0px;
    padding: 0px;
  }

body{
    box-sizing: border-box;
    
    width: 80%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
   
 
 
}
.conteneur{
    background-color: #238201;

}
.tete{
    
    width: 100%;
     margin-top: 10px;
     display: inline-block;
 }
 .marron{
     background-color: #220E0E;
     height: 100px;
     float: right;
    
     color: white;
    

     
 }



 .flex{
  

     background-color: white;
     border-radius: 20px;
     margin: 50px 20px;
     margin-bottom: 50px;
 }



.affiche {
    
    margin-top: 100px;
    width: 40%;
    margin-right: 50px;
    
    

}
   
.entete{

    float: right;
    color: rgba(255, 255, 255);
  
   
    
}

.image{
    position: relative;
    z-index: 100;
    display: flex;
  
    padding: 5%;
    bottom: 100px;
    max-width: 100%;
    height: auto;

}


.green_ville{
    background-color: #238201;
    text-align: center;
   padding: 50px;
    color: white;
    margin-left: 20px;
    
  
    width: 100%;
   
   
}
.club{
   
    margin-top: 50px;
    color: black;
  
}

.club h3{
    color: #238201;
    
     
}
.license_10{
   
    margin-top: 20px;
    color: whitesmoke;
    background-color: #220E0E;
    margin-left: 50px;

   
 
}
.license_15{
   
    margin-top: 20px;
    color: whitesmoke;
    background-color: #220E0E;
    
   
   
   
 
}

/*partie  basse */

.flex_bas{
   
   
    margin-bottom: 10px;
    color: #220E0E;
  
}

footer{
    text-align: center;
    color: white;
    margin: 20px;
}
.card-body{
    text-align: center;
}
